body 
{
	font: 22px arial;
	color: #222;
	text-align: center;
}

#servermessagelabel
{
	position:fixed;
	right:	10px;
	top:	50px;
}

#servermessagebox
{
	font: 16px monospace;
	text-align: left;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 10px;
	background: #FFF;
	height: 270px;
	width: 430px;
	border: 1px solid #ACD8F0;
	overflow: auto;
}

#chatmessagebox
{
	font: 16px monospace;
	text-align: left;
	margin-bottom: 25px;
	padding: 10px;
	background: #FFF;
	height: 270px;
	width: 430px;
	border: 1px solid #ACD8F0;
	overflow: auto;

	position: fixed;
	right: 10px;
	bottom:50px
}

#chatboxlabel
{
	position: fixed;
	right: 10px;
	bottom:30px
}

